/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
/** Fit homepage title text in image empty space **/
.slider-caption.slider-caption-center {
  text-align: initial;
  margin: 0 auto 0 0;
  max-width: 500px;
}

@media (max-width: 991.98px) {
  .slider-caption.slider-caption-center {
    max-width: 300px;
  }
}

.slider-caption h2 {
  font-size: 3rem;
}

#page-title.page-title-parallax h1,
#page-title.page-title-parallax span {
    width: 40%;
}

@media (max-width: 767px) {
  #page-title.page-title-parallax span {
	  font-size: 22px;
	  width: 100%;
  }
}

/* .team .team-desc .btn { margin-top: 20px; } */

/** Remove left margin on date fields in projects **/
.nt-repeater .heading-block > span {
  margin-left: 0;
}

/** Control colors of sticky sidebar links */
.sticky-sidebar li a { color: #444; }
.sticky-sidebar li a:hover { color: #7e161c; }
.sticky-sidebar li.current a { 
  color: #7e161c; 
  font-weight: bold;
}

/** Fix header in mobile Safari */
@media (max-width: 991.98px) {
	#slider .slider-inner {
		position: absolute;
  }
}
