---
layout: default
title: Projects
redirect_from:
- /art
- /tech
---
<div>
  <section id="page-title">

    <div class="container clearfix">
      <h1>Projects</h1>
      <span>Highlights of some of the interesting work I've done over the years.</span>
    </div>
    
  </section>
</div>

<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="row gutter-40 col-mb-80">
        <div class="sidebar sticky-sidebar-wrap col-lg-3" data-class-xl="d-block" data-class-lg="d-block" data-class-md="d-none" data-class-sm="d-none" data-class-xs="d-none">
          <div class="sidebar-widgets-wrap">
            <div class="sticky-sidebar">
              <h2>Years</h2>
              <ul>
                {% for project in site.projects reversed %}
                  {% assign currentdate = project.date | date: "%Y" %}
                  {% if currentdate != date %}
                    <li><a href="#y{{project.date | date: "%Y"}}">{{ currentdate }}</a></li>
                  {% endif %}
                  {% assign date = currentdate %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="postcontent col-lg-9 order-lg-last">
          {% for project in site.projects reversed %}
            {% assign currentdate = project.date | date: "%Y" %}
            {% if currentdate != date %}
              <h1 class="anchor" id="y{{project.date | date: "%Y"}}">{{ currentdate }}</h1>
              {% assign date = currentdate %}
            {% endif %}
            {% include project.html %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

