<!-- Footer
============================================= -->
<footer id="footer" class="dark">
  <div class="container">

    <!-- Footer Widgets
	 ============================================= -->
    <div class="footer-widgets-wrap">
      <div class="row col-mb-75">
        <div class="col-lg-8">

          <div class="row col-mb-75">
            <div class="col-md-4">

              <div class="widget clearfix">
                <img src="/images/footer-widget-logo.png" alt="" class="footer-logo" alt="{{ site.title }}">
                <p>Museums. Technology. Social Justice.</p>

                <div>
                  <address>
                    Chicago, IL<br>
                  </address>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="widget widget_links clearfix">
                <h4>Blogroll</h4>

                <ul>
                  <li><a href="https://visitorsofcolor.tumblr.com">Visitors of Color</a></li>
                  <li><a href="https://www.museumaction.org">MASS Action</a></li>
                  <li><a href="https://www.incluseum.com/">The Incluseum</a></li>
                  <li><a href="https://modelviewculture.com/">Model View Culture</a></li>
                  <li><a href="https://fwdmuseumsjournal.weebly.com/">Fwd: Museums</a></li>
                  <li><a href="https://museumworkersspeak.weebly.com/">Museum Workers Speak</a></li>
                  <li><a href="https://artstuffmatters.wordpress.com/">Artstuffmatters</a></li>        
                </ul>

              </div>
            </div>

            <div class="col-md-4">

              <div class="widget clearfix">
                <h4>Recent Posts</h4>

                <div class="posts-sm row col-mb-30" id="post-list-footer">
                  {% for post in site.posts limit:3 %}
                    {% assign currentdate = post.date | date: "%Y" %}
                    <div class="entry col-12">
                      <div class="grid-inner row">
                        <div class="col">
                          <div class="entry-title">
                            <h4><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h4>
                          </div>
                          <div class="entry-meta">
                            <ul>
                              <li>{{ post.date | date: "%b %-d, %Y" }}</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="row col-mb-50">
            <div class="col-md-4 col-lg-12">
              <div class="widget clearfix" style="margin-bottom: -20px;">

                <div class="row">
                  <div class="col-lg-6 bottommargin-sm">
                    <div class="counter counter-small"><span data-from="20" data-to="{{ site.posts | size  }}" data-refresh-interval="8" data-speed="3000" data-comma="true"></span></div>
                    <h5 class="mb-0">Blog Posts Since 2003</h5>
                  </div>

                  <div class="col-lg-6 bottommargin-sm">
                    <div class="counter counter-small"><span data-from="1" data-to="{{ site.projects | size }}" data-refresh-interval="5" data-speed="2000" data-comma="true"></span></div>
                    <h5 class="mb-0">Projects Highlighted Since 1994</h5>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-5 col-lg-12">
              <div class="widget subscribe-widget clearfix">
                <h5><strong>Subscribe</strong> to my newsletter:</h5>
                <div class="widget-subscribe-form-result"></div>
                <form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="mb-0">
                  <div class="input-group mx-auto">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="icon-email2"></i></div>
                    </div>
                    <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
                    <div class="input-group-append">
                      <button class="btn btn-success" type="submit">Subscribe</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="col-md-3 col-lg-12">
              <div class="widget clearfix" style="margin-bottom: -20px;">

                <div class="row">
                  <div class="col-6 col-md-12 col-lg-6 clearfix bottommargin-sm">
                    <a href="https://twitter.com/nikhiltri" class="social-icon si-dark si-colored si-twitter mb-0" style="margin-right: 10px;">
                      <i class="icon-twitter"></i>
                      <i class="icon-twitter"></i>
                    </a>
                    <a href="https://twitter.com/nikhiltri"><small style="display: block; margin-top: 3px;"><strong>Follow me</strong><br>on Twitter</small></a>
                  </div>
                  <div class="col-6 col-md-12 col-lg-6 clearfix">
                    <a href="#" class="social-icon si-dark si-colored si-rss mb-0" style="margin-right: 10px;">
                      <i class="icon-rss"></i>
                      <i class="icon-rss"></i>
                    </a>
                    <a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to Blog RSS Feeds</small></a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- .footer-widgets-wrap end -->
  </div>

  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">
    <div class="container">

      <div class="row col-mb-30">

        <div class="col-md-6 text-center text-md-left">
          Copyrights &copy; {{ site.time | date: '%Y' }} All Rights Reserved by {{ site.title }}<br>
        </div>

        <div class="col-md-6 text-center text-md-right">
          <div class="d-flex justify-content-center justify-content-md-end">
            <a href="https://facebook.com/nikhil.trivedi" class="social-icon si-small si-borderless si-facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>

            <a href="https://twitter.com/nikhiltri" class="social-icon si-small si-borderless si-twitter">
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
            </a>

            <a href="https://instagram.com/nikhiltri" class="social-icon si-small si-borderless si-instagram">
              <i class="icon-instagram"></i>
              <i class="icon-instagram"></i>
            </a>

            <a href="https://github.com/nikhiltri" class="social-icon si-small si-borderless si-github">
              <i class="icon-github"></i>
              <i class="icon-github"></i>
            </a>

            <a href="https://www.linkedin.com/in/nikhil-trivedi" class="social-icon si-small si-borderless si-linkedin">
              <i class="icon-linkedin"></i>
              <i class="icon-linkedin"></i>
            </a>

            <a href="https://soundcloud.com/nikhiltri" class="social-icon si-small si-borderless si-soundcloud">
              <i class="icon-soundcloud"></i>
              <i class="icon-soundcloud"></i>
            </a>
          </div>
        </div>

      </div>

    </div>
  </div><!-- #copyrights end -->
</footer><!-- #footer end -->
