<!-- Footer
     ============================================= -->
<footer id="footer" class="dark">

  <div class="container">

    <!-- Footer Widgets
	 ============================================= -->
    <div class="footer-widgets-wrap clearfix">

      <div class="col_two_third">

	<div class="col_one_third">

	  <div class="widget clearfix">

	    <img src="/images/footer-widget-logo.png" alt="" class="footer-logo" alt="{{ site.title }}">

	    <p><strong>Museums. Technology. Social Justice.</strong></p>

	    <div style="background: url('/images/world-map.png') no-repeat center center; background-size: 100%;">
	      <address>
		Chicago, IL<br>
	      </address>
	    </div>
	    
	  </div>

	</div>

	<div class="col_one_third">

	  <div class="widget widget_links clearfix">

	    <h4>Blogroll</h4>

	    <ul>
	      <li><a href="http://www.incluseum.com/">The Incluseum</a></li>
	      <li><a href="http://www.rapevictimadvocates.org/">Rape Victim Advocates</a></li>
	      <li><a href="https://modelviewculture.com/">Model View Culture</a></li>
	      <li><a href="https://fwdmuseumsjournal.wordpress.com/">Fwd: Museums</a></li>
	      <li><a href="http://visitorsofcolor.tumblr.com">Visitors of Color</a></li>
	      <li><a href="http://geekfeminism.wikia.com/">Geek Feminism Wiki</a></li>
	      <li><a href="http://www.browngirlsmuseumblog.com/">Brown Girls Museum Blog</a></li>
	      <li><a href="http://museumworkersspeak.weebly.com//">Museum Workers Speak</a></li>
	      <li><a href="https://artstuffmatters.wordpress.com/">Artstuffmatters</a></li>
	    </ul>
	    
	  </div>

	</div>

	<div class="col_one_third col_last">
	  
	  <div class="widget clearfix">
	    <a class="twitter-timeline" data-height="400" data-theme="dark" href="https://twitter.com/nikhiltri">Tweets by nikhiltri</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	  </div>
	  
	</div>
	
      </div>
      
      <div class="col_one_third col_last">
	
	<div class="widget clearfix" style="margin-bottom: -20px;">
	  
	  <div class="row">
	    
	    <div class="col-md-6 bottommargin-sm">
	      <div class="counter counter-small"><span data-from="50" data-to="{{ site.posts | size  }}" data-refresh-interval="80" data-speed="3000" data-comma="true">{{ site.posts | size }}</span></div>
	      <h5 class="nobottommargin">Total Blog Posts Since 2003</h5>
	    </div>

	    <div class="col-md-6 bottommargin-sm">
	      <div class="counter counter-small"><span data-from="100" data-to="{{ site.projects | size }}" data-refresh-interval="50" data-speed="2000" data-comma="true">{{ sites.projects | size }}</span></div>
	      <h5 class="nobottommargin">Projects Highlighted Since 1994</h5>
	    </div>

	  </div>

	</div>


	<div class="widget clearfix" style="margin-bottom: -20px;">

	  <div class="row">
	    
	    <div class="col-md-6 clearfix bottommargin-sm">
	      <a href="http://www.twitter.com/{{ site.twitter_username }}" class="social-icon si-dark si-colored si-twitter nobottommargin" style="margin-right: 10px;">
		<i class="icon-twitter"></i>
		<i class="icon-twitter"></i>
	      </a>
	      <a href="http://www.twitter.com/{{ site.twitter_username }}"><small style="display: block; margin-top: 3px;"><strong>Follow me</strong><br>on Twitter</small></a>
	    </div>
	    <div class="col-md-6 clearfix">
	      <a href="{{ "/feed.xml" | relative_url }}" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
		<i class="icon-rss"></i>
		<i class="icon-rss"></i>
	      </a>
	      <a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to Blog RSS Feed</small></a>
	    </div>
	    
	  </div>
	  
	</div>
	
      </div>
      
    </div><!-- .footer-widgets-wrap end -->
    
  </div>

  <!-- Copyrights
       ============================================= -->
  <div id="copyrights">

    <div class="container clearfix">

      <div class="col_half">
	Copyrights © {{ site.time | date: '%Y' }} All Rights Reserved by {{ site.title }}<br>
      </div>

      <div class="col_half col_last tright">
	<div class="fright clearfix">
	  <a href="http://www.twitter.com/{{ site.twitter_username }}" class="social-icon si-small si-borderless si-twitter">
	    <i class="icon-twitter"></i>
	    <i class="icon-twitter"></i>
	  </a>
	  
	  <a href="http://www.instagram.com/{{ site.instagram_username }}" class="social-icon si-small si-borderless si-instagram">
	    <i class="icon-instagram"></i>
	    <i class="icon-instagram"></i>
	  </a>

	  <a href="http://www.github.com/{{ site.github_username }}" class="social-icon si-small si-borderless si-github">
	    <i class="icon-github"></i>
	    <i class="icon-github"></i>
	  </a>
	  
	  <a href="http://www.linkedin.com/in/{{ site.linkedin_username }}" class="social-icon si-small si-borderless si-linkedin">
	    <i class="icon-linkedin"></i>
	    <i class="icon-linkedin"></i>
	  </a>

	  <a href="http://www.soundcloud.com/{{ site.soundcloud_username }}" class="social-icon si-small si-borderless si-soundcloud">
	    <i class="icon-soundcloud"></i>
	    <i class="icon-soundcloud"></i>
	  </a>

	</div>
	
	<div class="clear"></div>
	
	<i class="icon-skype2"></i> {{ site.skype_username }}
      </div>
      
    </div>
    
  </div><!-- #copyrights end -->

</footer>


