<div class="container clearfix nt-repeater">

  <div class="row align-items-start col-mb-50">
    <div class="col-md-4 center">
      {% if project.asset %}
        {{ project.asset }}
      {% else %}
        <a href="{{ project.link }}"><img data-animate="fadeIn{% cycle 'Right', 'Left' %}" src="{{ project.image }}" alt="{{ project.alt}}" class="fadeIn{% cycle 'Right', 'Left' %} animated" /></a>
      {% endif %}
    </div>

    <div class="col-md-8 text-center text-md-left">
      <div class="heading-block border-bottom-0">
        <h3>{{ project.title }}</h3>
        <span>{{ project.dates }}</span>
      </div>

      {{ project.content }}

      {% if project.link %}
        <a href="{{ project.link }}" class="button button-border button-rounded button-large ml-0 topmargin-sm">Check it out{% if project.host %} on {{ project.host }}{% endif %}</a>
      {% endif %}
    </div>
  </div>

</div>

{% if forloop.last != true %}
  <div class="divider divider-short divider-center"><i class="icon-circle"></i></div>
{% endif %}

