<div class="col_half topmargin nobottommargin col_last" style="float:right; clear:right;">
  <div style="position: relative; height: 442px;" data-height-lg="535" data-height-md="442" data-height-sm="338" data-height-xs="316" data-height-xxs="201">
    {% if project.asset %}
      {{ project.asset }}
    {% else %}
      <img data-animate="fadeIn{% cycle 'Right', 'Left' %}" src="{{ project.image }}" alt="{{ project.alt}}" style="position: absolute; top: 0; left: 0;" class="fadeIn{% cycle 'Right', 'Left' %} animated">
    {% endif %}
  </div>
</div>
      
<div class="col_half topmargin nobottommargin" style="float:left; clear:left;">

  <div class="heading-block title-center">
    <h3>{{ project.title }}</h3>
    <span>{{ project.dates }}</span>
  </div>

  {{ project.content }}
	
  {% if project.link %}
    <a href="{{ project.link }}" class="btn btn-danger btn-block btn-lg bgcolor border-color">Check it out{% if project.host %} on {{ project.host }}{% endif %}</a>
  {% endif %}

    <div class="divider divider-short"><i class="icon-circle"></i></div>

</div>

<div class="clear"></div>
