---
layout: default
---

<!-- Hero
============================================= -->
<section id="slider" class="slider-element slider-parallax swiper_wrapper min-vh-60 min-vh-md-100 include-header">
  <div class="slider-inner">

    <div class="vertical-middle dark">
      <div class="container">
        <div class="slider-caption slider-caption-center">
          <h2>Museums. Technology. Social Justice.</h2>
          <p class="d-none d-sm-block">Hello! I'm the Director of Engineering at a museum in Chicago, and you might also know me by the activism work I do in museum and tech communities.</p>
        </div>
      </div>
      <div class="swiper-slide-bg" style="background-image: url('images/me.jpg');"></div>
    </div>

    <a href="#" data-scrollto="#content" data-offset="100" class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

  </div>
</section>

<!-- Site Content
============================================= -->
<section id="content">

  <div class="content-wrap">

      <!-- Content starts here -->

      <!-- Bio -->
      <div>
        <div class="container">
          <div class="row align-items-start">

            <div class="col-lg-5">
              <p class="lead">I'm the Director of Engineering at a museum in Chicago as well as a facilitator, educator, and community builder. My experience planning and executing complex web projects has also brought me to work with institutions to create concrete plans around the healing and accountability from historic traumas like colonialism, slavery, genocide, and war. I'm a regular contributor at The Incluseum and is a project advisor for MASS Action. My writing has been featured in the Journal for Museum Education, Fwd: Museums, and Model View Culture.</p>
            </div>

            <div class="col-lg-7">

              <div class="position-relative" style="margin-bottom: -60px; height: 426px;" class="ohidden embed-responsive" data-height-lg="426" data-height-md="567" data-height-sm="470" data-height-xs="287" data-height-xxs="183">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/WicEkXGqv8Q" frameborder="0" allowfullscreen data-animate="fadeInUp" data-delay="100" class="fadeInUp animated"></iframe>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="section">
        <div class="container">
          <div class="row align-items-start">

            <div class="col-lg-5">
              <div class="heading-block">
								<h1>Visitors of Color</h1>
							</div>
              <p class="lead">In addition to the above video, you may know me by my work as co-creator of the <a href="http://visitorsofcolor.tumblr.com">Visitors of Color</a> blog, where we document the experiences of people from marginalized communities who visit&mdash;and don't visit&mdash;museums.</p>
              <a href="http://visitorsofcolor.tumblr.com" class="button button-border button-rounded button-large ml-0 topmargin-sm">Check it out on Tumblr</a>
            </div>

            <div class="col-lg-7">

              <div class="position-relative" style="margin-bottom: -60px; height: 426px;" class="ohidden embed-responsive" data-height-lg="426" data-height-md="567" data-height-sm="470" data-height-xs="287" data-height-xxs="183">
                <a href="http://visitorsofcolor.tumblr.com"><img src="/images/projects/visitors-of-color.jpg" alt="3/4 view of Gabriela smiling and wearing glasses while holding their dog. Text reads “I think I was around 9 or 10 years old when I started wondering how museum objects were obtained” Gabriela Zapata-Alma, Social Justice Worker, Harm Reductionist, Prison Abolitionist, Trauma Healer" /></a>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div>
        <div class="container">
          <div class="row align-items-start">

            <div class="col-lg-5">
              <div class="heading-block">
								<h1>Oppression: A Museum Primer</h1>
							</div>
              <p class="lead">You might also know me by an article I wrote titled <a href="https://incluseum.com/2015/02/04/oppression-a-museum-primer/">Oppression: a museum primer</a> where I define and discuss how to recognize and dismantle oppression. Over the years, it has become a fundamental article in museum activist spaces.</p>
              <a href="https://incluseum.com/2015/02/04/oppression-a-museum-primer" class="button button-border button-rounded button-large ml-0 topmargin-sm">Check it out on The Incluseum</a>
            </div>

            <div class="col-lg-7">

              <div class="position-relative" style="margin-bottom: -60px; height: 426px;" class="ohidden embed-responsive" data-height-lg="426" data-height-md="567" data-height-sm="470" data-height-xs="287" data-height-xxs="183">
                <a href="https://incluseum.com/2015/02/04/oppression-a-museum-primer/"><img src="/images/projects/incluseum.png" alt="Pencil and watercolor sketch in light green and blue of triangle shapes forming a circle" /></a>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Projects -->
      <div class="section topmargin mb-5 border-bottom-0">
        <div class="container clearfix">
          <div class="heading-block center m-0">
            <h2>Recent Projects</h2>
          </div>
        </div>
      </div>

      {% assign projects = site.projects | sort: 'date' | reverse %}
      {% for project in projects limit:4 %}
        {% include project.html %}
      {% endfor %}

      <a href="{{ "/projects" | relative_url}}" class="mt-5 button button-full button-dark center text-right">
        <div class="container clearfix">
          See more <strong>projects</strong> <i class="icon-caret-right" style="top:4px;"></i>
        </div>
      </a>

      <!-- Awards -->
      <div class="section mt-0">
        <div class="container clearfix">

          <div class="heading-block topmargin-sm center">
            <h2>Awards and Honors</h2>
          </div>

          <div class="row">

            {% assign awards = site.awards | sort: 'date' | reverse %}
            {% for award in awards limit:3 %}
            <div class="col-lg-4 col-md-6 bottommargin">

              <div class="team">
                <div class="team-image">
                  <img src="{{ award.image }}" alt="{{ award.alt }}">
                </div>
                <div class="team-desc team-desc-bg">
                  <div class="team-title"><h4>{{ award.title }}</h4><span>{{ award.dates }}</span></div>
                  {% if award.link %}
                    <a href="{{ award.link }}" class="button button-border button-rounded button-large ml-0 topmargin-sm">Read more</a>
                  {% endif %}
                </div>
              </div>

            </div>
            {% endfor %}
          </div>
        </div>
      </div>


      <!-- Instagram -->
      <div class="container clearfix">
        <div class="heading-block topmargin-lg center">
          <h2>Instagram</h2>
        </div>
      </div>
      <div class="instagram-photos masonry-thumbs grid-4" data-user="nikhiltri" data-count="12"></div>

      <!-- Blog articles -->
      <div class="section topmargin mb-5 border-bottom-0">
        <div class="container clearfix">
          <div class="heading-block center m-0">
            <h2>Recent Blog Articles</h2>
          </div>
        </div>
      </div>

      <div id="posts" class="container clearfix">

        {% for post in site.posts limit:10 %}
          {% assign currentdate = post.date | date: "%Y" %}
          {% if currentdate != date %}
            {% unless forloop.first %}</ul>{% endunless %}
            <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
            {% assign date = currentdate %}
          {% endif %}
          <div class="row gutter-40 col-mb-80">
            <!-- Post Content
            ============================================= -->
            <div class="postcontent col-lg-9">

              <div class="single-post mb-0">

                <!-- Single Post
                ============================================= -->
                <div class="entry clearfix">

                  <!-- Entry Title
                  ============================================= -->
                  <div class="entry-title">
                    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
                  </div><!-- .entry-title end -->

                  <!-- Entry Meta
                  ============================================= -->
                  <div class="entry-meta">
                    <ul>
                      <li><i class="icon-calendar3"></i> {{ post.date | date: "%B %e, %Y" }}</li>
                      <li><i class="icon-folder-open"></i>
                        {% for tag in post.tags %}
                          <a href="#">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                        {% endfor %}
                      </li>
                    </ul>
                  </div><!-- .entry-meta end -->

                  <!-- Entry Content
                  ============================================= -->
                  <div class="entry-content mt-0">

                    {{ post.excerpt | strip_html }}

                    <p><a href="{{ post.url | relative_url }}" class="button button-border button-rounded button-large ml-0 topmargin-sm">Read more</a></p>

                  </div>

                </div>

              </div>
            </div><!-- .sidebar end -->
          </div>
        {% endfor %}
      </div>

      <a href="{{ "/blog" | relative_url}}" class="mt-5 button button-full button-dark center text-right">
        <div class="container clearfix">
          See more <strong>blog articles</strong> <i class="icon-caret-right" style="top:4px;"></i>
        </div>
      </a>

      <div class="container mt-5">
        <div class="row align-items-top">
          <div class="col-md-6">
            <div class="heading-block">
              <h1>Drop me a note</h1>
            </div>
            <form class="row" action="https://formspree.io/me@nikhiltrivedi.com" method="post" novalidate="novalidate">
              <div class="form-process">
                <div class="css3-spinner">
                  <div class="css3-spinner-scaler"></div>
                </div>
              </div>
              <div class="col-12 form-group">
                <label>Name:</label>
                <input type="text" name="name" id="template-contactform-name" class="form-control required valid" value="">
              </div>
              <div class="col-12 form-group">
                <label>Email:</label>
                <input type="email" name="email" id="template-contactform-email" class="form-control required" value="">
              </div>
              <div class="col-12 form-group">
                <label>Subject:</label>
                <input type="email" name="_subject" id="template-contactform-subject" class="form-control required" value="">
              </div>
              <div class="col-12 form-group">
                <label>Message:</label>
                <textarea name="message" id="template-contactform-message" class="form-control" cols="30" rows="6"></textarea>
              </div>
              <div class="col-12 d-none">
                <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="">
              </div>
              <div class="col-12">
                <button type="submit" name="template-contactform-submit" class="btn btn-secondary">Send Message</button>
              </div>

              <input type="hidden" name="prefix" value="template-contactform-">
            </form>
          </div>
          <div class="col-md-6">
            <div class="heading-block">
              <h1>Schedule a meeting with me</h1>
            </div>
            <!-- Calendly inline widget begin -->
            <div class="calendly-inline-widget" data-url="https://calendly.com/nikhiltri" style="min-width:320px;height:630px;"></div>
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
            <!-- Calendly inline widget end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
