---
layout: default
---
<section id="page-title">

  <div class="container clearfix">
    <h1>Blog</h1>
    <span>Personal musings</span>
  </div>
  
</section>

<section id="content">

  <div class="content-wrap">

    <div id="posts" class="container clearfix">
      
      <article class="post entry clearfix" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header">
	  <div class="entry-title">
	    <h2>{{ page.title }}</h2>
	  </div>
	  <ul class="entry-meta clearfix">
	    <li><i class="icon-calendar3"></i> <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></li>
	    <li><i class="icon-folder-open"></i>
	      {% for tag in page.tags %}
	      <a href="#">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
	      {% endfor %}
	    </li>
	  </ul>
	</header>

	<div class="entry-content post-content" itemprop="articleBody">
	  {{ content }}
	</div>
      </article>

    </div>
  </div>
</section>

