---
layout: default
---
<div>
	<section id="page-title">
  
	  <div class="container clearfix">
		  <h1>Blog</h1>
		  <span>Personal musings. Views are my own.</span>
	  </div>
	  
	</section>
</div>

<section id="content">
  <div class="content-wrap">
    <div id="posts" class="container clearfix">
      <div class="postcontent">
        <div class="single-post mb-0">
          <article class="entry clearfix" itemscope itemtype="http://schema.org/BlogPosting">
            <div class="entry-title">
              <h2>{{ page.title }}</h2>
            </div>
            <div class="entry-meta">
              <ul>
                <li><i class="icon-calendar3"></i> <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %e, %Y" }}</time></li>
                <li><i class="icon-folder-open"></i> 
                  {% for tag in page.tags %}
                    <a href="#">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                  {% endfor %}
                </li>
              </ul>
            </div>
            <div class="entry-content mt-0">
              {{ content }}
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

